/* HEADER */
.header {
  width: 100vw;
  height: 50px;
  background: $black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  .links {
    margin-right: 15px;
    ul, li {
      margin: 0;
      padding: 0;
    }
    ul {
      background: gray;
      list-style: none;
      width: 100%;
    }
    li {
      float: left;
      position: relative;
      width: auto;
    }
    a {
      background: $black;
      color: $white;
      display: block;
      padding: 10px 25px;
      text-align: center;
      text-decoration: none;
      transition: all .25s ease;
    }
    li:hover a {
      background: $grey;
    }
  }
  .submenu {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 35px;
    visibility: hidden;
    z-index: 1;
  }
  li:hover ul.submenu {
    opacity: 1;
    top: 35px;
    /* adjust this as per top nav padding top & bottom comes */
    visibility: visible;
  }
  .submenu {
    li {
      float: none;
      width: 100%;
    }
    a {
      background-color: #000000;
    }
  }
}

/* CONTENT */
main {
  width: 100vw;
  height: 100vh;
  background: $black;
}